body {
    background-color: #BDC3C7;
    font-family: 'Noto Sans', sans-serif;
}

header h1 {
    text-align: center;
}

.converter {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}